<p>Layers: <code>{{ include.select }}</code></p>

<ul class="layers-map">
  <li class="layer1 {% if include.select contains '1' %}select{% endif %}">
    <img src="{{ site.baseUrl }}/assets/hlm-layer-1.svg">
    <h4>Interaction</h4> 
    <p>Front-end applications, websites, apps</p>
  </li>
  <li class="layer2 {% if include.select contains '2' %}select{% endif %}">
    <img src="{{ site.baseUrl }}/assets/hlm-layer-2.svg">
    <h4>Control</h4> 
    <p>Business Process Engines and Decision Engines, Domain-specific 'silo' applications</p>
  </li>
  <li class="layer3 {% if include.select contains '3' %}select{% endif %}">
    <img src="{{ site.baseUrl }}/assets/hlm-layer-3.svg">
    <h4>Integration</h4> 
    <p>Streams, proxies, connectors, adaptors</p>
  </li>
  <li class="layer4 {% if include.select contains '4' %}select{% endif %}">
    <img src="{{ site.baseUrl }}/assets/hlm-layer-4.svg">
    <h4>Services</h4> 
    <p>Publication and mutation of data through APIs</p>
  </li>
  <li class="layer5 {% if include.select contains '5' %}select{% endif %}">
    <img src="{{ site.baseUrl }}/assets/hlm-layer-5.svg">
    <h4>Data</h4> 
    <p>Databases, archives</p>
  </li>
</ul>
