<ul class="layers-map">
  <li class="layer1 {% if include.select contains '1' %}select{% endif %}"><h4>1. Interaction</h4> Front-end applications, websites, apps</li>
  <li class="layer2 {% if include.select contains '2' %}select{% endif %}"><h4>2. Control</h4> Business Process Engines and Decision Engines, Domain-specific 'silo' applications</li>
  <li class="layer3 {% if include.select contains '3' %}select{% endif %}"><h4>3. Integration</h4> Streams, proxies, connectors, adaptors</li>
  <li class="layer4 {% if include.select contains '4' %}select{% endif %}"><h4>4. Services</h4> Publication and mutation of data through APIs</li>
  <li class="layer5 {% if include.select contains '5' %}select{% endif %}"><h4>5. Data</h4> Databases, archives</li>
</ul>
