--- 
layout: wrapper
---

{% if page.tags contains "hlm" %}
  {% assign hlm = true %}
{% endif %}
{% if page.hlm %}
  {% assign hlm = true %}
{% endif %}

<article class="markdown-body">
  {% if hlm %}
    <h2><a href="/{{ "hlm/" | prepend: site.baseUrl }}">Horizontal Layers Model</a></h2>
  {% endif %}
  {{ content }}
</article>

{% if page.hlmLayers %}
  <aside>
    <h3><a href="/{{ "hlm/#layers" | prepend: site.baseUrl }}">Layers</a></h3>
    {% assign select = page.hlmLayers | split: ' ' %}
    {% include layers.html select = select %}
  </aside>
{% endif %}

{% if hlm %}
  {% assign projects = site.pages | where: "isProject", true | where: "tags", "hlm" %}

  {% comment %} Don't display this section if there is only one result {% endcomment %}
  {% if projects[1] %}

    <h2 class="section-header"><a href=""><a href="{{ site.baseurl }}/hlm/">HLM components</a></a></h2>

    <section class="cards">
      {% for page in projects %} {% if page.name != "index.md" %}
      <a href="{% if page.link %}{{page.link}}{% else %}{{ site.baseurl }}{{ page.url }}{% endif %}">
        <h3>{{ page.title }}</h3>
        <p>{{ page.abstract }}</p>
        {% if page.link %}<small>{{ page.link }}</small>{% endif %}
      </a>
      {% endif %} {% endfor %}
    </section>
  {% endif %}

  {% assign projects = site.pages | where: "isProject", true | where_exp: "item", "item.tags != 'hlm'" %}

  {% comment %} Don't display this section if there is only one result {% endcomment %}
  {% if projects[1] %}

    <h2 class="section-header"><a href=""><a href="{{ site.baseurl }}/hlm/">Other projects</a></a></h2>

    <section class="cards">
      {% for page in projects %} {% if page.name != "index.md" %}
      <a href="{% if page.link %}{{page.link}}{% else %}{{ site.baseurl }}{{ page.url }}{% endif %}">
        <h3>{{ page.title }}</h3>
        <p>{{ page.abstract }}</p>
        {% if page.link %}<small>{{ page.link }}</small>{% endif %}
      </a>
      {% endif %} {% endfor %}
    </section>
  {% endif %}

{% else %}

  {% assign projects = site.pages | where: "isProject", true %}

  {% comment %} Don't display this section if there is only one result {% endcomment %}
  {% if projects[1] %}

    <h2 class="section-header"><a href=""><a href="{{ site.baseurl }}/projects/">All Projects</a></a></h2>

    <section class="cards">
      {% for page in projects %} {% if page.name != "index.md" %}
      <a href="{% if page.link %}{{page.link}}{% else %}{{ site.baseurl }}{{ page.url }}{% endif %}">
        <h3>{{ page.title }}</h3>
        <p>{{ page.abstract }}</p>
        {% if page.link %}<small>{{ page.link }}</small>{% endif %}
      </a>
      {% endif %} {% endfor %}
    </section>
  
    {% endif %}

{% endif %}
